<h2> Welcome to the conference room!</h2>
<p>Right now you are all sitting in the conference room after getting the news about the internet, what do you want to do to try to save the day... well save the internet</p>
<br/>
<p>What would you like to do?</p>
  <form action="/conference-room" id="conference-room" method="post" enctype="multipart/form-data">
    <input id="option-1" type="radio" name="option" value="Look through the papers on the table"/>
    <label for="Option 1">Look through the papers on the table</label>
    <br/>
    <input id="option-2" type="radio" name="option" value="Go to the lab"/>
    <label for="Option 2">Go to the lab</label>
    <br/>
    <input id="option-3" type="radio" name="option" value="Try to enter the code"/>
    <label for="Option 3">Try to enter the code</label>
    <br/>
    <input id="option-4" type="radio" name="option" value="Read the writing on the whiteboard."/>
    <label for="Option 4">Read the writing on the whiteboard.</label>
    <br/>
    <input type="submit" value="Next">
  </form>