<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body class="outer">
    <div class="container">
        <div class="row">
            <div class="col-0 col-sm-0 col-md-1"></div>

            <div class="col-12 col-sm-12 col-md-10">
                <h2> There's a massive pile of papers, but only three of them really stand out. </h2> 
                <button class="btn btn-primary row" type="button" data-bs-toggle="collapse" data-bs-target="#red" role="button" aria-expanded="false"> Red Page </button>
                <div class="collapse" id="red">
                    <p> This page has a set of zeroes and ones on it and the letter "b" in front of them. These</p>
                    <br/>
                    <p> numbers might be important in saving the internet.</p>
                    <br/>
                    <p><b>b0010</b></p>    
                </div>
                <br/>
                <button class="btn btn-primary row" type="button" data-bs-toggle="collapse" data-bs-target="#green" role="button" aria-expanded="false"> Green Page </button>
                <div class="collapse" id="green">
                    <p> Hmm... this page has numbers on it. </p>
                    <br>
                    <p><b> 0x30           b00110000</b></p>  
                </div>
                <br/>
                <button class="btn btn-primary row" type="button" data-bs-toggle="collapse" data-bs-target="#blue" role="button" aria-expanded="false"> Blue Page </button>
                <div class="collapse" id="blue">
                    <p> These are all the tables with different values on one side. The other has a giant number 2.</p>
                    <div style="margin-left: 7%">
                        <button class="btn btn-primary row" type="button" data-bs-toggle="collapse" data-bs-target="#Binary" role="button" aria-expanded="false"> Binary Table  </button>
                        <div class="collapse" id="Binary"></div>
                        <br/>
                        <button class="btn btn-primary row" type="button" data-bs-toggle="collapse" data-bs-target="#Hex" role="button" aria-expanded="false"> Hex Table </button>
                        <div class="collapse" id="Hex"></div>
                        <br/>
                        <button class="btn btn-primary row" type="button" data-bs-toggle="collapse" data-bs-target="#ASCII" role="button" aria-expanded="false"> ASCII Table </button>
                        <div class="collapse" id="ASCII"></div>
                        <br/>
                    </div>
                </div>
                <br/>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
            </div>
            <!-- I like this button, it's a very good button. Don't ever change it. -->
            <a href="/conference-room">
                <input type="button" value="Go back to conference room."/>
            </a>
        </div>
    </div>
</body>
</html>
